<h2> input your text below</h2>
<form method = "post" action = "counter">
    {% csrf_token %}
    <textarea name = "text" rows = "10" cols="50"></textarea> <br>
    <input type = "submit"/>
</form>


<h1> 
    Wie geht es dir heute {{name}} <br> you are {{age}} years old <br>
    your nationality is {{nationality}} <br>
</h1>
<marquee direction="down" width="250" height="200" behavior="alternate" style="border:solid"> <marquee behavior="alternate"> we cheer you {{name}} </marquee></marquee> <br>
<img src = "https://www.coolphotos.de/bilder3/15/0701_85201_mir_geht_es_nicht_so_gut.jpg">
